# Barra de progresso
## lib/mod tqdm

In [4]:
import pandas as pd

# importando arquivos
vendas_df = pd.read_csv(r'arquivos/Contoso - Vendas - 2017.csv', sep=';')
produtos_df = pd.read_csv(r'arquivos/Contoso - Cadastro Produtos.csv', sep=';')
lojas_df = pd.read_csv(r'arquivos/Contoso - Lojas.csv', sep=';')
clientes_df = pd.read_csv(r'arquivos/Contoso - Clientes.csv', sep=';')

# limpando apenas colunas que queremos
clientes_df = clientes_df[['ID Cliente', 'E-mail']]
produtos_df = produtos_df[['ID Produto', 'Nome da Marca']]
lojas_df = lojas_df[['ID Loja', 'Nome da Loja']]

# mesclando e renomeando dataframes
vendas_df = vendas_df.merge(produtos_df, on='ID Produto')
vendas_df = vendas_df.merge(lojas_df, on='ID Loja')
vendas_df = vendas_df.merge(clientes_df, on='ID Cliente').rename(columns={'E-mail': 'E-mail Cliente'})
display(vendas_df)

        Numero da Venda Data da Venda  ...                 Nome da Loja               E-mail Cliente
0                     1    01/01/2017  ...         Loja Contoso Austin        rbrumfieldmy@ameblo.jp
1                880458    23/11/2017  ...  Loja Contoso Europe Online        rbrumfieldmy@ameblo.jp
2                191019    20/03/2017  ...       Loja Contoso Hartford        rbrumfieldmy@ameblo.jp
3                 18610    08/01/2017  ...        Loja Contoso Catalog        rbrumfieldmy@ameblo.jp
4                287704    23/04/2017  ...  Loja Contoso Beaumont No.1        rbrumfieldmy@ameblo.jp
...                 ...           ...  ...                          ...                          ...
980637           878244    23/11/2017  ...        Loja Contoso Orlando            edowner9m@imdb.com
980638           920243    09/12/2017  ...  Loja Contoso Damascus No.1   ruben31@adventure-works.com
980639           467482    21/06/2017  ...  Loja Contoso New York No.1    akuhnertfc@themeforest.net
980640           853643    13/11/2017  ...  Loja Contoso New York No.1     anne5@adventure-works.com
980641           903958    02/12/2017  ...           Loja Contoso Roma      ekorneevmm@instagram.com

[980642 rows x 13 columns]

## A loja contoso Roma (ID 222), para tentar burlar o sistema de metas, diminuiu 1 da quantidade devolvida de todas as vendas que ela teve. Descobrindo isso, precisamos ajeitar a base.
- usaremos o for para melhores explicaÃ§Ãµes, mas existem outras maneiras de fazer isso

In [8]:
from tqdm import tqdm

pbar = tqdm(total=len(vendas_df['ID Loja']), position=0, leave=True)
for index, id_loja in enumerate(vendas_df['ID Loja']):    
    if id_loja ==222:
        vendas_df.loc[index, 'Quantidade Devolvida'] += 1
    pbar.update()
display(vendas_df)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 980642/980642 [00:32<00:00, 30187.90it/s]
 99%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž| 971592/980642 [00:05<00:00, 168934.23it/s]

        Numero da Venda Data da Venda  ...                 Nome da Loja               E-mail Cliente
0                     1    01/01/2017  ...         Loja Contoso Austin        rbrumfieldmy@ameblo.jp
1                880458    23/11/2017  ...  Loja Contoso Europe Online        rbrumfieldmy@ameblo.jp
2                191019    20/03/2017  ...       Loja Contoso Hartford        rbrumfieldmy@ameblo.jp
3                 18610    08/01/2017  ...        Loja Contoso Catalog        rbrumfieldmy@ameblo.jp
4                287704    23/04/2017  ...  Loja Contoso Beaumont No.1        rbrumfieldmy@ameblo.jp
...                 ...           ...  ...                          ...                          ...
980637           878244    23/11/2017  ...        Loja Contoso Orlando            edowner9m@imdb.com
980638           920243    09/12/2017  ...  Loja Contoso Damascus No.1   ruben31@adventure-works.com
980639           467482    21/06/2017  ...  Loja Contoso New York No.1    akuhnertfc@themeforest.net
980640           853643    13/11/2017  ...  Loja Contoso New York No.1     anne5@adventure-works.com
980641           903958    02/12/2017  ...           Loja Contoso Roma      ekorneevmm@instagram.com

[980642 rows x 13 columns]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 980642/980642 [00:17<00:00, 168934.23it/s]